:root {
  --primary: #2447f9;
  --secondary: #34364a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f8fd;
}

img {
  width: 100%;
}

.contact-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.contact-app__header {
  display: flex;
  padding: 2rem 0;
}

.navigation ul li {
  display: inline-block;
  padding: 1rem;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 2rem;
}

.contact-app h1 {
  font-weight: 600;
  font-size: 3rem;
  flex: 1;
  color: var(--secondary);
}

.search-bar {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--primary);
}

.search-bar:focus {
  outline: none;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 24px 0;
  border: 3px solid var(--primary);
  padding: 16px;
  border-radius: 8px;
}

.contact-item__image img {
  width: 64px;
  border-radius: 50%;
}

.contact-item__body {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #aaa;
  flex: 1;
}

.contact-item__title {
  padding: 4px 0;
}

.contact-item__username {
  font-weight: lighter;
}

.contact-item__delete {
  padding: 8px;
  font-size: 2rem;
  color: #ff3e3e;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.contact-item__delete:hover {
  color: #ff0d0d;
}

.contact-input {
  padding: 16px;
  margin: 14px 0;
  margin-bottom: 32px;
}

.contact-input input {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  border: 3px solid;
  border-radius: 2rem;
}

.contact-input input:focus {
  outline-color: var(--primary);
}

.contact-input button {
  width: 100%;
  padding: 16px;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--primary);
  color: #f0f0f0;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.contact-input button:hover {
  background-color: #1296ca;
}
